/PARTE 1/CAPITULO 4/Ejercicio_11/nbproject/private/
/PARTE 1/CAPITULO 4/Ejercicio_11/build/
/PARTE 1/CAPITULO 4/Ejercicio_12/nbproject/private/
/PARTE 1/CAPITULO 4/Ejercicio_12/build/
/PARTE 1/CAPITULO 4/Ejercicio_13/nbproject/private/
/PARTE 1/CAPITULO 4/Ejercicio_13/build/
/PARTE 1/CAPITULO 4/Ejercicio_14/nbproject/private/
/PARTE 1/CAPITULO 4/Ejercicio_14/build/
/PARTE 1/CAPITULO 4/Ejercicio_15/nbproject/private/
/PARTE 1/CAPITULO 4/Ejercicio_15/build/
/PARTE 1/CAPITULO 4/Ejercicio_22/nbproject/private/
/PARTE 1/CAPITULO 4/Ejercicio_22/build/
/PARTE 1/CAPITULO 4/Ejercicio_23/nbproject/private/
/PARTE 1/CAPITULO 4/Ejercicio_23/build/
/PARTE 1/CAPITULO 4/Ejercicio_23/dist/
/PARTE 1/CAPITULO 4/Ejercicio_24/nbproject/private/
/PARTE 1/CAPITULO 4/Ejercicio_24/build/
/PARTE 2/figuras_geometricas/nbproject/private/
